<div class="container top-gap-xl">

  <div class="row">
    <div class="col-md-6">
      <h3>Example App</h3>
      <i class="fa fa-rocket icon-brand-l"></i>
    </div>

    <div class="col-md-6">
      <h3>Sign up</h3>
      <form ng-submit="signup()" id="new-user-form" class="form-horizontal">

        <div avatar-user="user"></div>

        <div class="form-group">
          <label class="control-label col-sm-4">Username</label>
          <div class="col-sm-8">
            <input type="text" placeholder="i.e. jappleseed" ng-model="user.username" autocapitalize="off" class="form-control"/>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-4" for="type">First Name</label>
          <div class="col-sm-8">
            <input type="text" placeholder="Johnny" ng-model="user.firstname" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-4" for="type">Last Name</label>
          <div class="col-sm-8">
            <input type="text" placeholder="Appleseed" ng-model="user.lastname" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-4" for="type">Email</label>
          <div class="col-sm-8">
            <input type="text" placeholder="johnny@appleseed.com" ng-model="user.email" autocapitalize="off" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-4" for="type">Password</label>
          <div class="col-sm-8">
            <input type="password" placeholder="14 characters, alphanumeric" ng-model="user.password" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-4" for="type">Confirm Password</label>
          <div class="col-sm-8">
            <input type="password" placeholder="14 characters, alphanumeric" ng-model="user.passwordconfirm" class="form-control">
          </div>
        </div>


        <div class="pull-right">
          <button type="submit" class="btn btn-primary">Create my account</button>
        </div>
        <div class="help-block top-gap pull-right">Your account will have to be approved by an admin before it becomes active</div>

      </form>

      <!-- Status message area -->
      <div class="row top-gap" ng-show="showStatus">
        <div class="col-md-5 alert alert-block" ng-class="statusLevel">
          <button type="button" class="close" ng-click="setShowStatus(false)">&times;</button>
          <h4>{{statusTitle}}</h4>
          {{statusMessage}}
        </div>
      </div>

    </div>

  </div>

</div>
