<div class="mapcache container-fluid">
  <div class="container top-gap-l">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a ng-href="/#/map/{{map.id}}">Back to {{map.name}} <span ng-if="unsavedChanges">unsaved changes will be lost</span></a></li>
          <li class="active">Edit</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span class="page-entity-label">Map: <span class="page-entity-title">{{map.name}}</span>
      </div>
    </div>
    <div class="row" ng-show="!map.status.complete">
      <div class="col-md-12">
        <p class="lead">The map is being processed.  The status of the map processing will be updated here.  If you leave this page the map will continue to be processed on the server.</p>
        <p class="map-status">{{map.status.message}}</p>
      </div>
    </div>
    <div class="row" ng-show="map.format == 'wms' && map.status.complete">
      <div class="col-md-12">
        <div class="form-group">
          <label>Available layers on this WMS server.  This is just a preview, you will be able to create a map from any of these layers.</label>
          <ui-select ng-model="map.previewLayer" theme="bootstrap">
            <ui-select-match placeholder="Select a layer to preview">{{$select.selected.Title}} {{$selec.selected.Abstract}}</ui-select-match>
            <ui-select-choices repeat="layer in map.wmsGetCapabilities.Capability.Layer.Layer | orderBy: 'Title' | filter: $select.search">
              <div ng-bind-html="layer.Title | highlight: $select.search"></div>
              <small class="muted">
                <span ng-bind-html="layer.Abstract | highlight: $select.search"></span>
              </small>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>

    <div class="row" ng-if="map.status.complete">
      <div class="col-md-12">
        <span class="page-sub-entity-label">Map is shown below. (light grey map is only for geographic reference)</span>
      </div>
    </div>
  </div>
  <div cache-listing map="map" options="mapOptions"></div>
</div>
<div class="container" ng-if="map.status.complete">
  <div class="row top-gap bottom-gap">
    <div class="col-md-12">
      <span class="page-sub-entity-label">Map Settings</span>
    </div>
  </div>

  <ul class="nav nav-tabs">
    <li role="presentation" ng-class="{active: tab=='general'}"><a ng-click="tab='general'">General</a></li>
    <li ng-show="map.vector && map.status.complete" role="presentation" ng-class="{active: tab=='vector'}"><a ng-click="tab='vector'">Vector Options</a></li>
    <li ng-show="map.vector && map.status.complete" role="presentation" ng-class="{active: tab=='style'}"><a ng-click="tab='style'">Vector Styles</a></li>
    <li role="presentation" class="pull-right"><button class="btn btn-success pull-right" ng-click="saveMap()">Save Changes To Map</button></li>
  </ul>
  <div ng-show="tab == 'general'">
    <div class="row top-gap">
      <div class="col-md-12">
        <div class="form-group">
          <span class="control-label page-sub-entity-title">Map Name</span>
          <input type="text" class="form-control" ng-model="map.name" placeholder="e.g. Denver, CO">
        </div>
      </div>
    </div>
  </div>
  <div ng-show="tab == 'vector'">
    <div class="row top-gap bottom-gap">
      <div class="col-md-12">
        <span class="page-sub-entity-label">Title and Description Properties</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <ui-select ng-model="map.style.title" theme="bootstrap">
          <ui-select-match placeholder="Title property" allow-clear>Title property: {{$select.selected.key}}</ui-select-match>
          <ui-select-choices repeat="property.key as property in map.properties | filter: $select.search">
            <div ng-bind-html="property.key | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="col-md-6">
        <ui-select ng-model="map.style.description" theme="bootstrap">
          <ui-select-match placeholder="Description property" allow-clear>Description property: {{$select.selected.key}}</ui-select-match>
          <ui-select-choices repeat="property.key as property in map.properties | filter: $select.search">
            <div ng-bind-html="property.key | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>
  <div ng-show="tab == 'style'">
    <div class="row top-gap bottom-gap">
      <div class="col-md-12">
        <span class="page-sub-entity-label">Add New Style</span>
      </div>
    </div>

    <div class="row style-row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <ui-select ng-model="newRule.property" theme="bootstrap">
              <ui-select-match placeholder="Select a property to style">When the '{{$select.selected.key}}' property equals </ui-select-match>
              <ui-select-choices repeat="property in map.properties | filter: $select.search">
                <div ng-bind-html="property.key | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="col-md-6">
            <ui-select ng-model="newRule.property.value" theme="bootstrap" reset-search-input="true">
              <ui-select-match placeholder="Value">{{$select.selected}}</ui-select-match>
              <ui-select-choices repeat="value in newRule.property.values | filter: $select.search">
                <div ng-bind-html="value | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="row top-gap" ng-show="newRule.property.value">
          <div class="col-md-2">
            <div class="form-group">
              <label>Fill Color</label>
              <div class="input-group" color-picker="newRule.style.fill">
                <input type="text" value="newRule.style.fill" class="form-control" />
                <span class="input-group-addon"><i></i></span>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>Fill Opacity</label>
              <input class="form-control" ng-model="newRule.style['fill-opacity']">
              <p class="help-block">0.0 - 1.0</p>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>Line Color</label>
              <div class="input-group" color-picker="newRule.style.stroke">
                <input type="text" value="newRule.style.stroke" class="form-control" />
                <span class="input-group-addon"><i></i></span>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>Line Opacity</label>
              <input class="form-control" ng-model="newRule.style['stroke-opacity']">
              <p class="help-block">0.0 - 1.0</p>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>Line Width</label>
              <input class="form-control" ng-model="newRule.style['stroke-width']">
              <p class="help-block">Pixel Width</p>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>&nbsp;</label>
              <button class="form-control btn btn-primary pull-right" ng-click="applyStyle()">Add These Styles</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row bottom-gap" ng-show="map.style">
      <div class="col-md-12">
        <span class="page-sub-entity-label">Current Map Styles</span>
      </div>
    </div>
    <div ng-repeat="style in map.style.styles | orderBy: 'priority'">
      <div style-row="style" options="{first: $first, last: $last, mutable: true}"></div>
    </div>
    <div class="top-gap">
      <div style-row="map.style.defaultStyle"></div>
    </div>
    </div>

    <div class="row bottom-gap top-gap" ng-show="map.style">
      <div class="col-md-12">
        <button class="btn btn-success pull-right" ng-click="saveStyle()">Save Changes To Map</button>
      </div>
    </div>
</div>
