<div class="container top-gap-l">

  <div class="row">
    <div class="col-md-12">
      <p class="lead">Mapcache can currently generate maps from the following formats:</p>
        <span class="page-sub-entity-label">URLs: <span class="page-sub-entity-title" ng-repeat="format in validUrlFormats">{{format.format | cacheFormat}}<span ng-if="!$last">,</span>&nbsp;</span>
        <br>
        <span class="page-sub-entity-label">Files: <span class="page-sub-entity-title" ng-repeat="format in validFileFormats">{{format.format | cacheFormat}}<span ng-if="!$last">,</span>&nbsp;</span>
    </div>
  </div>

  <div ng-repeat="dataSource in map.dataSources">
    <div map-datasource="dataSource"></div>
  </div>

  <button class="btn btn-primary" ng-click="addDataSource()">MORE DATA</button>

  <div class="row" ng-if="showMap">
    <div class="col-md-12">
      <p class="lead">Map preview</p>
      <div leaflet-map map="map" options="mapOptions"></div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="map.format" ng-true-value="'tms'" ng-false-value="'xyz'"> Do the map tiles not line up? Click here
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <span class="control-label page-sub-entity-title">Name Your Map</span>
        <div class="input-group file-input-group">
          <input type="text" class="form-control" ng-model="map.name" placeholder="e.g. Denver, CO">
          <span class="input-group-btn">
            <button class="btn btn-primary" ng-class="{disabled: mapSubmitted || (!map.name || !dataSourcesValidated)}" ng-click="createMap()">
              Create Map
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row bottom-gap-l top-gap">
    <div class="col-md-12">
      <p class="lead"><span ng-show="mapSubmitted">Creating map...</span></p>
    </div>
  </div>

  <div class="row top-gap">
    <div class="col-md-6">
      <div class="progress" ng-if="progress">
        <div class="progress-bar" role="progressbar" style="width: {{progress}}%">
          <span>{{progress | number: 2}}% Complete</span>
        </div>
      </div>
    </div>
  </div>
</div>
