<div class="input-group file-input-group">
  <input type="text" class="form-control" ng-model="location" placeholder="{{placeholder}}">
  <span ng-if="locationStatus == 'success'" class="glyphicon glyphicon-ok form-control-feedback"></span>
  <span ng-if="locationStatus == 'warning'" class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
  <span ng-if="locationStatus == 'error'" class="glyphicon glyphicon-remove form-control-feedback"></span>
  <span class="input-group-btn">
    <span class="btn btn-default btn-file">
        Browse&hellip; <input type="file" accept="{{accept}}" multiple>
    </span>
  </span>
</div>
