#map {
  height: 500px;
  width: 100%;
}

.navbar-shift {
  padding-top: 60px;
}

.icon-brand-l {
	font-size: 300px;
	color: #777777;
}

.cache-name {
  font-size: 24px;
  color: #777777;
}

.cache-type-details {
  border-width: 1px;
  border-color: #DDDDDD;
  border-style: solid;
  text-align: center;
}

.cache-row {
  margin: 5px;
}

.cache-types-row {
  margin-top: 5px;
}

.mapcache-header-description {
  font-size: 22px;
  color: #333333;
  text-align: center;
}

.top-gap-s {
  margin-top: 5px;
}

.top-gap {
    margin-top: 15px;
}

.top-gap-l {
    margin-top: 30px;
}

.top-gap-xl {
    margin-top: 50px;
}

.bottom-gap-s {
    margin-bottom: 5px;
}

.bottom-gap {
    margin-bottom: 15px;
}

.bottom-gap-l {
    margin-bottom: 30px;
}

.bottom-gap-xl {
    margin-bottom: 50px;
}
