#map {
  height: 500px;
  width: 100%;
}

.navbar-shift {
  padding-top: 60px;
}

.icon-brand-l {
	font-size: 300px;
	color: #777777;
}

.cache-name {
  font-size: 24px;
  color: #777777;
}

.cache-type-details {
  border-width: 1px;
  border-color: #DDDDDD;
  border-style: solid;
  text-align: center;
}

.cache-row {
  margin: 5px;
}

.cache-types-row {
  margin-top: 5px;
}
