#map {
  height: 500px;
  width: 100%;
}

.navbar-shift {
  padding-top: 50px;
}

.icon-brand-l {
	font-size: 300px;
	color: #777777;
}

.cache-name {
  font-size: 24px;
  color: #777777;
}

.cache-type-details {
  border-width: 1px;
  border-color: #DDDDDD;
  border-style: solid;
  text-align: center;
  border-radius: 2px;
  margin-right: 8px;
}

.cache-type-download-box:hover {
  text-decoration: none;
  cursor: pointer;
}

.cache-size {
  color: #999;
}

.cache-size {
  color: #999;
}

.cache-type {
  font-weight: bold;
  color: #888;
}

.cache-type-details:hover {
  background-color: #F9F9F9;
}

.cache-type-details:hover .cache-type {
  color: #369;
}

.cache-type-details:hover .cache-size {
  color: #369;
}

.deleted-cache {
  background-color: red;
}

.leaflet-control-zoom-indicator {
  font-weight: bold;
}

.mapcache-header-description {
  font-size: 24px;
  font-family: Roboto;
  color: #333333;
  text-align: center;
}

.leaflet-draw-tooltip-subtext {
  color: #FFF;
}

.leaflet-map {
  height:450px;
}

.signin-jumbotron > .leaflet-map {
  height: 630px;
}

.signin-form {
  border-width: 1px;
  border-style: solid;
  border-color: #777;
  background-color: #EEE;
  border-radius: 4px;
}

.signin-jumbotron {
  position: absolute;
  left: 10px;
  right: 10px;
  top:140px;
  opacity: .4;
}

.mapcache-description {
  position: absolute;
  left: 10px;
  right: 10px;
  top:800px;
  padding-bottom: 20px;
}

.mapcache-sources-description {
  font-family: Roboto;
  font-weight: 400;
  font-size: 35px;
  text-align: center;
}

.source-title {
  font-family: Roboto;
  font-weight: 300;
  font-size: 28px;
  text-align: center;
}

.source-status {
  font-weight: bold;
}

.usage-progress {
  margin-bottom:5px;
}

.page-entity-heading {
  font-family: Roboto;
  font-weight: 300;
  font-size: 28px;
}

.page-entity-title {
  font-family: Roboto;
  font-weight: 400;
  font-size: 28px;
}

.page-entity-label {
  font-family: Roboto;
  font-weight: 200;
  font-size: 28px;
}

.page-sub-entity-title {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
}

.page-sub-entity-label {
  font-family: Roboto;
  font-weight: 200;
  font-size: 18px;
}

.ui-select-bootstrap>.ui-select-choices {
  z-index: 1001;
  max-height: 500px;
}

.login-tabs>.nav-tabs>li {
  width: 50%;
  text-align: center;
}

.top-gap-s {
  margin-top: 5px;
}

.top-gap {
    margin-top: 15px;
}

.top-gap-l {
    margin-top: 30px;
}

.top-gap-xl {
    margin-top: 50px;
}

.bottom-gap-s {
    margin-bottom: 5px;
}

.bottom-gap {
    margin-bottom: 15px;
}

.bottom-gap-l {
    margin-bottom: 30px;
}

.bottom-gap-xl {
    margin-bottom: 50px;
}

.top-padding-s {
  padding-top: 5px;
}

.top-padding-m {
  padding-top: 15px;
}

.top-padding-l {
  padding-top: 30px;
}

.bottom-padding-l {
  padding-bottom: 30px;
}

.bottom-padding-m {
  padding-bottom: 15px;
}

.bottom-padding-s {
  padding-bottom: 5px;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.create-source-map .leaflet-container:before {
  content: "derp";
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
}
