<div class="row" ng-controller="StorageController">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <span class="page-entity-label">mapcache Disk Usage <span class="page-entity-title">{{storage.used | fileSize}} of {{storage.total | fileSize}}</span></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="progress">
              <div class="progress-bar"
                 ng-class="{'progress-bar-success': (storage.used/storage.total) < .75, 'progress-bar-warning': (storage.used/storage.total) > .75 && (storage.used/storage.total) < .90, 'progress-bar-danger': (storage.used/storage.total) > .90}"
                 role="progressbar" style="width: {{100*(storage.used/storage.total)}}%">
                <span>{{100*(storage.used/storage.total) | number:2}}% used</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <span class="page-entity-label">Server Disk Usage <span class="page-entity-title">{{(storage.serverTotal - storage.serverFree) | fileSize}} of {{storage.serverTotal | fileSize}}</span></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="progress">
              <div class="progress-bar"
                 ng-class="{'progress-bar-success': ((storage.serverTotal - storage.serverFree)/storage.serverTotal) < .75, 'progress-bar-warning': ((storage.serverTotal - storage.serverFree)/storage.serverTotal) > .75 && ((storage.serverTotal - storage.serverFree)/storage.serverTotal) < .90, 'progress-bar-danger': ((storage.serverTotal - storage.serverFree)/storage.serverTotal) > .90}"
                 role="progressbar" style="width: {{100*((storage.serverTotal - storage.serverFree)/storage.serverTotal)}}%">
                <span>{{100*((storage.serverTotal - storage.serverFree)/storage.serverTotal) | number:2}}% used</span>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <div class="row bottom-gap">
              <div class="col-md-11">
                <span class="page-entity-heading">Cache Disk Usage</span>
              </div>
            </div>
            <div class="row bottom-gap" ng-repeat="cache in caches | orderBy: 'totalSize':true">
              <div class="col-md-11" ng-class="{'deletedCache': cache.deleted}">
                <div ng-hide="cache.deleted">
                  <span class="page-entity-label"><a ng-href="/#/cache/{{cache.id}}">{{cache.name}}</a> <span class="page-entity-title">{{cache.totalSize | fileSize}}</span></span><a ng-hide="cache.deleted" href="" ng-click="deleteCache(cache)"><i class="pull-right fa fa-trash"></i></a>
                  <div class="progress usage-progress">
                    <div class="progress-bar"
                       ng-class="{'progress-bar-success': (cache.totalSize/storage.serverTotal) < .75, 'progress-bar-warning': (cache.totalSize/storage.serverTotal) > .75 && (cache.totalSize/storage.serverTotal) < .90, 'progress-bar-danger': (cache.totalSize/storage.serverTotal) > .90}"
                       role="progressbar" style="width: {{100*(cache.totalSize/storage.used)}}%">
                      <span>{{100*(cache.totalSize/storage.used) | number:2}}% of usage</span>
                    </div>
                  </div>
                  <div>
                    <span class="page-sub-entity-label">Tiles <span class="page-sub-entity-title">{{cache.tileSize | fileSize}}</span></span>
                  </div>
                  <div ng-repeat="(format, info) in cache.formats">
                    <span><span class="page-sub-entity-label">{{formatName(format)}} <span class="page-sub-entity-title">{{info.size | fileSize}} </span></span><a ng-show="isCacheFormatDeletable(cache, format)" href="" ng-click="deleteCache(cache, format)"><i class="fa fa-trash"></i></a></span>
                  </div>
                </div>
                <div>
                  <span class="page-entity-label" ng-show="cache.deleted">{{cache.name}} has been deleted. <button ng-click="undeleteCache(cache)" class="btn btn-success">Oh no, undelete the {{cache.name}} cache please!</button></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row bottom-gap">
              <div class="row bottom-gap">
                <div class="col-md-11 col-md-offset-1">
                  <span class="page-entity-heading">Source Disk Usage</span>
                </div>
              </div>
              <div class="row bottom-gap" ng-repeat="source in sources | orderBy: 'totalSize': true">
                <div class="col-md-11 col-md-offset-1" ng-hide="source.deleted">
                  <span class="page-entity-label"><a ng-href="/#/source/{{source.id}}">{{source.name}} : {{formatName(source.format)}}</a> <span class="page-entity-title">{{source.totalSize | fileSize}}</span></span><a ng-hide="source.deleted" href="" ng-click="deleteSource(source)"><i class="pull-right fa fa-trash"></i></a>
                  <div class="progress usage-progress">
                    <div class="progress-bar" ng-class="{'progress-bar-success': (source.totalSize/storage.serverTotal) < .75, 'progress-bar-warning': (source.totalSize/storage.serverTotal) > .75 && (source.totalSize/storage.serverTotal) < .90, 'progress-bar-danger': (source.totalSize/storage.serverTotal) > .90}"
                       role="progressbar" style="width: {{100*(source.totalSize/storage.used)}}%">
                      <span>{{100*(source.totalSize/storage.used) | number:2}}% of usage</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
