<div class="row" ng-controller="StorageController">
  <div class="container">

    <div class="row">

      <div class="col-md-6">

        <div class="disk-usage-card progress-bar top-gap"
           ng-class="{'progress-bar-success': (storage.used/storage.total) < .75, 'progress-bar-warning': (storage.used/storage.total) > .75 && (storage.used/storage.total) < .90, 'progress-bar-danger': (storage.used/storage.total) > .90}">

          <div style="font-size: 105px; position: relative; opacity: 0.2; margin-top: 10px;">
            <i class="fa fa-server" style="margin-right:10px;"></i>
          </div>
          <div style="margin-top: -115px">
            <div class="row top-gap">
              <div class="col-md-12">
              <span class="page-entity-label">mapcache Usage
              </div>
            </div>
            <div class="row top-gap-l">
              <div class="col-md-12">
                <span class="page-entity-title">{{storage.used | fileSize}} of {{storage.total | fileSize}}</span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="disk-usage-card progress-bar top-gap"
           ng-class="{'progress-bar-success': (storage.used/storage.total) < .75, 'progress-bar-warning': (storage.used/storage.total) < .75, 'progress-bar-warning': (storage.used/storage.total) > .75 && (storage.used/storage.total) < .90, 'progress-bar-danger': (storage.used/storage.total) > .90}">

          <div style="font-size: 105px; position: relative; opacity: 0.2; margin-top: 10px;">
            <i class="fa fa-server" style="margin-right:10px;"></i>
          </div>
          <div style="margin-top: -115px">
            <div class="row top-gap">
              <div class="col-md-12">
                <span class="page-entity-label">Server Usage
              </div>
            </div>
            <div class="row top-gap-l">
              <div class="col-md-12">
                <span class="page-entity-title">{{(storage.serverTotal - storage.serverFree) | fileSize}} of {{storage.serverTotal | fileSize}}</span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">

        <div class="disk-usage-card btn-blue top-gap" ng-click="current='caches'">
          <div style="font-size: 125px; position: relative; opacity: 0.2;">
            <i class="fa fa-globe" style="margin-right:10px;"></i>
          </div>
          <div style="margin-top: -125px">
            <div class="row top-gap">
              <div class="col-md-12">
              <span class="page-entity-label">Caches
              </div>
            </div>
            <div class="row top-gap-l">
              <div class="col-md-12">
                <span class="page-entity-title">{{caches.length}}</span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">

        <div class="disk-usage-card btn-info top-gap" ng-click="current='sources'">

          <div style="font-size: 105px; margin-top: 10px; position: relative; opacity: 0.2;">
            <i class="fa fa-file-image-o" style="margin-right:10px;"></i>
          </div>
          <div style="margin-top: -115px">
            <div class="row top-gap">
              <div class="col-md-12">
              <span class="page-entity-label">Maps
              </div>
            </div>
            <div class="row top-gap-l">
              <div class="col-md-12">
                <span class="page-entity-title">{{sources.length}}</span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">

        <div class="disk-usage-card btn-purple top-gap" ng-click="current='users'">

          <div style="font-size: 105px; margin-top: 10px; position: relative; opacity: 0.2;">
            <i class="fa fa-users" style="margin-right:10px;"></i>
          </div>
          <div style="margin-top: -115px">
            <div class="row top-gap">
              <div class="col-md-12">
              <span class="page-entity-label">Users
              </div>
            </div>
            <div class="row top-gap-l">
              <div class="col-md-12">
                <span class="page-entity-title">{{users.length}} total <span ng-if="(users | filter: {active:'!true'}).length != 0">({{(users | filter: {active:'!true'}).length}} Inactive)</span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row" ng-show="current == 'caches'">
      <div class="col-md-12">
        <div class="row bottom-gap">
          <div class="col-md-12">
            <span class="page-entity-heading">Cache Disk Usage</span>
          </div>
        </div>
        <div class="row bottom-gap" ng-repeat="cache in caches | orderBy: 'totalSize':true">
          <div class="col-md-12" ng-class="{'deletedCache': cache.deleted}">
            <div ng-hide="cache.deleted">
              <span class="page-entity-label"><a ng-href="/#/cache/{{cache.id}}">{{cache.name}}</a> <span class="page-entity-title">{{cache.totalSize | fileSize}}</span></span><a ng-hide="cache.deleted" href="" ng-click="deleteCache(cache)"><i class="pull-right fa fa-trash"></i></a>
              <div class="progress usage-progress">
                <div class="progress-bar"
                   ng-class="{'progress-bar-success': (cache.totalSize/storage.serverTotal) < .75, 'progress-bar-warning': (cache.totalSize/storage.serverTotal) > .75 && (cache.totalSize/storage.serverTotal) < .90, 'progress-bar-danger': (cache.totalSize/storage.serverTotal) > .90}"
                   role="progressbar" style="width: {{100*(cache.totalSize/storage.used)}}%">
                  <span>{{100*(cache.totalSize/storage.used) | number:2}}% of usage</span>
                </div>
              </div>
              <div ng-repeat="(format, info) in cache.formats" ng-show="info.size">
                <span><span class="page-sub-entity-label">{{formatName(format)}} <span class="page-sub-entity-title">{{info.size | fileSize}} </span></span><a ng-click="deleteCache(cache, format)"><i class="fa fa-trash"></i></a></span>
              </div>
            </div>
            <div>
              <span class="page-entity-label" ng-show="cache.deleted">{{cache.name}} has been deleted. <button ng-click="undeleteCache(cache)" class="btn btn-success">Oh no, undelete the {{cache.name}} cache please!</button></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-show="current == 'sources'">
      <div class="col-md-12">
        <div class="row bottom-gap">
          <div class="col-md-12">
            <span class="page-entity-heading">Maps Disk Usage</span>
          </div>
        </div>
        <div class="row bottom-gap" ng-hide="source.deleted" ng-repeat="source in sources | orderBy: 'totalSize': true">
          <div class="col-md-12" >
            <span class="page-entity-label"><a ng-href="/#/map/{{source.id}}">{{source.name}} : {{formatName(source.format)}}</a> <span class="page-entity-title">{{source.totalSize | fileSize}}</span></span><a ng-hide="source.deleted" href="" ng-click="deleteMap(source)"><i class="pull-right fa fa-trash"></i></a>
            <div class="progress usage-progress">
              <div class="progress-bar" ng-class="{'progress-bar-success': (source.totalSize/storage.serverTotal) < .75, 'progress-bar-warning': (source.totalSize/storage.serverTotal) > .75 && (source.totalSize/storage.serverTotal) < .90, 'progress-bar-danger': (source.totalSize/storage.serverTotal) > .90}"
                 role="progressbar" style="width: {{100*(source.totalSize/storage.used)}}%">
                <span>{{100*(source.totalSize/storage.used) | number:2}}% of usage</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="current == 'users'">
    <div class="row">
      <div class="col-md-4">
        <div class="row admin-header">
          <div class="col-md-12">
            <span ng-click="refresh()"><i class="fa fa-refresh icon-spacer pointer"></i></span>
            <h3 style="display: inline">Users ({{filteredUsers.length}})</h3>
            <a class="btn btn-primary pull-right" ng-click="newUser()"><i class="fa fa-plus"></i> New User</a>

            <hr>
          </div>
        </div>
        <div class="row bottom-gap">
          <div class="btn-group col-md-12">
            <label class="btn btn-default col-md-4" ng-model="filter" ng-change="page = 0" btn-radio="'all'" uncheckable>All</label>
            <label class="btn btn-default col-md-4" ng-model="filter" ng-change="page = 0" btn-radio="'active'" uncheckable>Active</label>
            <label class="btn btn-default col-md-4" ng-model="filter" ng-change="page = 0" btn-radio="'inactive'" uncheckable>Inactive</label>
          </div>
        </div>

        <div class="form-horizontal">
          <input type="text" class="search-query col-md-12 form-control" placeholder="Search users" ng-model="userSearch" ng-change="page=0">
        </div>

        <div class="row">
          <div class="col-md-12">
            <ul class="pager">
              <li class="previous" ng-show="page != 0">
                <a ng-click="page=page-1">&larr; Previous</a>
              </li>
              <li class="next" ng-show="page < (filteredUsers.length/itemsPerPage) - 1">
                <a ng-click="page=page+1">Next &rarr;</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="pointer bottom-gap-s"
            ng-class="{'admin-active': user.id == u.id}"
            ng-click="editUser(u)"
            ng-repeat="u in (filteredUsers = (users | user:['username','firstname','lastname','email']:userSearch | filter:filterActive)) | orderBy:'username' | offset: page*itemsPerPage | limitTo:itemsPerPage" >
          <div class="admin-row row">
            <div class="col-md-10">
              <div class="strong">{{u.username}}</div>
              <div class="muted">{{u.firstname}} {{u.lastname}}</div>
            </div>
            <div class="col-md-2" ng-hide="u.active">
              <a class="btn btn-mini btn-success pull-right" ng-click="activateUser(u)">Activate</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8" ng-show="user">
        <div style="position: fixed; top: 84px; left: 35%" class="fade alert alert-success" ng-class="{'in': saved, 'out': !saved}">
          Successfully Saved {{user.username}}
        </div>
        <div style="position: fixed; top: 84px; left: 35%" class="fade alert alert-error" ng-class="{'in': error, 'out': !error}">
          Error saving user: {{error}}
        </div>

        <div class="row">
          <div class="col-md-5">
            <form ng-submit="saveUser()" class="form-horizontal">

              <div avatar-user="user"></div>
              <div icon-user="user" class="top-gap-xl"></div>

              <div class="top-gap-l form-group">
                <label class="control-label col-sm-4" for="type">Username</label>
                <div class="col-sm-8">
                  <input type="text" placeholder="i.e. jappleseed" ng-model="user.username" name="username" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-4" for="type">First Name</label>
                <div class="col-sm-8">
                  <input type="text" placeholder="Johnny" ng-model="user.firstname" name="firstname" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-4" for="type">Last Name</label>
                <div class="col-sm-8">
                  <input type="text" placeholder="Appleseed" ng-model="user.lastname" name="lastname" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-4" for="type">Email</label>
                <div class="col-sm-8">
                  <input type="text" placeholder="johnny@appleseed.com" ng-model="user.email" name="email" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-4" for="type">Phone</label>
                <div class="col-sm-8">
                  <input type="text" placeholder="(xxx) xxx-xxxx" ng-model="user.phone" name="phone" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-4" for="type">Password</label>
                <div class="col-sm-8">
                  <input type="password" placeholder="14 characters, alphanumeric" ng-model="user.password" name="password" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-4" for="type">Confirm Password</label>
                <div class="col-sm-8">
                  <input type="password" placeholder="14 characters, alphanumeric" ng-model="user.passwordconfirm" name="passwordconfirm" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-4" for="type">Role</label>
                <div class="col-sm-8">
                  <select class="form-control" ng-model="user.roleId" ng-options="role.id as role.name for role in roles"></select>
                </div>
              </div>

              <span class="pull-right">
                <a class="btn btn-danger" ng-show="user.id" ng-click="deleteUser(user)"> <i class="fa fa-trash-o"></i> Delete User</a>
                <a class="btn btn-success" ng-class="{'disabled': saving}" ng-hide="user.id" ng-click="saveUser(user)"> <i class="fa fa-check"></i> Create User</a>
                <a class="btn btn-success" ng-class="{'disabled': saving}" ng-show="user.id" ng-click="saveUser(user)"> <i class="fa fa-check"></i> Save User</a>
              </span>
            </form>
          </div>
        </div>
      </div>
    </div>

      <div class="row top-gap-l">
        <div class="col-md-12">
          <nav class="navbar navbar-default admin-dashboard-navbar">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="admin-navbar-toggle navbar-toggle collapsed" data-toggle="collapse" data-target="#login-nav" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Logins</a>
              </div>

              <div class="collapse navbar-collapse admin-navbar-collapse" id="login-nav">
                <form class="navbar-form navbar-right">
                  <div class="form-group">
                    <span class="navbar-text-inverse">Results: </span>
                    <select class="form-control" ng-init="loginResultsLimit = 10" ng-model="loginResultsLimit" ng-change="loginResultsLimitChanged()" ng-options="o as o for o in [10, 25, 50, 100]"></select>
                  </div>
                </form>
              </div>

            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="admin-table">
            <div class="well-item" ng-repeat="login in loginPage.logins" >
              <div class="row">
                <div class="col-md-12">
                  <div class="right-gap pull-left">
                    <i class="fa fa-fw fa-sign-in"></i>
                  </div>
                  <strong class="right-gap">{{login.userId.firstname}} {{login.userId.lastname}}</strong>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="right-gap pull-left">
                    <i class="fa fa-fw"></i>
                  </div>
                  <span>{{login.timestamp | moment:'fromNow'}} ({{login.timestamp | moment:'MMM D YYYY hh:mm:ss A'}})</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <ul class="pager pull-right">
            <li ng-class="{'disabled': !showPrevious}">
              <a href="javascript:void(0);" ng-click="!showPrevious || pageLogin(loginPage.prev)">&larr; Previous</a>
            </li>
            <li ng-class="{'disabled': !showNext}">
              <a href="javascript:void(0);" ng-click="!showNext || pageLogin(loginPage.next)">Next &rarr;</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
    </div>
  </div>
</div>
