<div class="container top-gap-l">

  <div class="row">
    <div class="col-md-12">
      <p class="lead">Mapcache can currently generate maps from the following formats:</p>
        <span class="page-sub-entity-label">URLs: <span class="page-sub-entity-title" ng-repeat="format in validUrlFormats">{{format.format | cacheFormat}}<span ng-if="!$last">,</span>&nbsp;</span>
        <br>
        <span class="page-sub-entity-label">Files: <span class="page-sub-entity-title" ng-repeat="format in validFileFormats">{{format.format | cacheFormat}}<span ng-if="!$last">,</span>&nbsp;</span>
    </div>
  </div>

  <div class="row top-gap-l">
    <div class="col-md-6">
      <div class="form-group has-feedback" ng-class="{'has-success':locationStatus == 'success', 'has-warning': locationStatus == 'warning', 'has-error': locationStatus == 'error'}">
        <span class="control-label page-sub-entity-title">Enter a URL or choose a local file with your data</span>
        <div location-chooser location-status="locationStatus"></div>
        <p ng-if="sourceInformation" class="help-block">
          <span ng-if="locationStatus == 'success'"><span ng-if="sourceInformation.url">URL</span><span ng-if="sourceInformation.file">File</span> appears to be a {{sourceInformation.format | cacheFormat}} source.</span>
          <span ng-if="locationStatus == 'warning'"><span ng-if="sourceInformation.url">URL</span><span ng-if="sourceInformation.file">File</span> is valid but the data format could not be determined.</span>
          <span ng-if="locationStatus == 'error'">Could not validate URL.  Please ensure it is correct.</span>
        </p>
      </div>
    </div>
    <div class="col-md-6 nice-radio" ng-if="sourceInformation.file">
      <div class="form-group">
        <span class="page-sub-entity-title one-line-ellipsis">Format of {{sourceInformation.file.name}}</span>
        <span ng-repeat="format in validFileFormats">
          <input value="{{format.format}}" id="{{format.format}}" ng-model="source.format" type="radio" name="team" checked>
          <label for="{{format.format}}">{{format.format | cacheFormat}}</label>
        </span>
      </div>
    </div>
    <div class="col-md-6 nice-radio" ng-if="sourceInformation.url">
      <div class="form-group">
        <span class="page-sub-entity-title one-line-ellipsis">Format of {{sourceInformation.url}}</span>
        <span ng-repeat="format in validUrlFormats">
          <input value="{{format.format}}" id="{{format.format}}" ng-model="source.format" type="radio" name="team" checked>
          <label for="{{format.format}}">{{format.format | cacheFormat}}</label>
        </span>
      </div>
    </div>
  </div>

  <div class="row" ng-show="urlDiscovery">
    <div class="col-md-12">
      <p class="lead"><i class="fa fa-spinner fa-pulse"></i> Gathering information about this URL.</p>
    </div>
  </div>
  <div class="row" ng-show="fetchingCapabilities">
    <div class="col-md-12">
      <p class="lead"><i class="fa fa-spinner fa-pulse"></i> Fetching server capabilities</p>
    </div>
  </div>
  <div class="row" ng-show="(!fetchingCapabilities && !urlDiscovery) && source.format == 'wms' && !sourceInformation.wmsGetCapabilities.Capability">
    <div class="col-md-12">
      <p class="lead"><i class="fa fa-warning"></i> This does not appear to be a valid WMS server.</p>
    </div>
  </div>

  <div ng-if="sourceInformation.wmsGetCapabilities.Capability">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Available layers on this WMS server.  This is just a preview, you will be able to create a map from any of these layers.</label>
          <ui-select ng-model="source.previewLayer" theme="bootstrap">
            <ui-select-match placeholder="Select a layer to preview">{{$select.selected.Title}} {{$selec.selected.Abstract}}</ui-select-match>
            <ui-select-choices repeat="layer in wmsLayers | orderBy: 'Title' | filter: $select.search">
              <div ng-bind-html="layer.Title | highlight: $select.search"></div>
              <small class="muted">
                <span ng-bind-html="layer.Abstract | highlight: $select.search"></span>
              </small>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-if="showMap">
    <div class="col-md-12">
      <p class="lead">Source preview</p>
      <div leaflet-source source="source" options="mapOptions"></div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="source.format" ng-true-value="'tms'" ng-false-value="'xyz'"> Do the map tiles not line up? Click here
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <span class="control-label page-sub-entity-title">Name Your Source</span>
        <div class="input-group file-input-group">
          <input type="text" class="form-control ng-pristine ng-untouched ng-valid" ng-model="source.name" placeholder="e.g. Denver, CO">
          <span class="input-group-btn">
            <button class="btn btn-primary" ng-class="{disabled: sourceSubmitted || (!source.name || !source.format || (!source.url && !source.sourceFile))}" ng-click="createSource()">
              Create Source
            </button>
          </span>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="row bottom-gap-l top-gap">
    <div class="col-md-12">
      <p class="lead"><span ng-show="sourceSubmitted">Creating source...</span></p>
    </div>
  </div>

  <div class="row top-gap">
    <div class="col-md-6">
      <div class="progress" ng-if="progress">
        <div class="progress-bar" role="progressbar" style="width: {{progress}}%">
          <span>{{progress | number: 2}}% Complete</span>
        </div>
      </div>
    </div>
  </div>
</div>
