<div class="container top-gap-l">
  <div class="row">
    <div class="col-md-12">
      <span class="page-entity-label">Source: <span class="page-entity-title">{{source.name}}</span>
    </div>
  </div>
  <div class="row" ng-show="!source.status.complete">
    <div class="col-md-12">
      <p class="lead">The source is being processed.  The status of the source processing will be updated here.  If you leave this page the source will continue to be processed on the server.</p>
      <p class="source-status">{{source.status.message}}</p>
    </div>
  </div>
  <div class="row" ng-show="source.status.complete">
    <div class="col-md-12">
      <div class="alert alert-success" role="alert">
        <p class="lead">The source {{source.name}} has been set up and is ready to be used to make a cache. <button class="btn btn-default pull-right" ng-click="createCacheFromSource()">Create A Map From This Source</button></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <span class="page-sub-entity-label">Format: <span class="page-sub-entity-title">{{source.format}}</span>
    </div>
  </div>
  <div class="row" ng-show="source.format == 'wms' && source.status.complete">
    <div class="col-md-12">
      <div class="form-group">
        <label>Available layers on this WMS server.  This is just a preview, you will be able to create a map from any of these layers.</label>
        <ui-select ng-model="source.previewLayer" theme="bootstrap">
          <ui-select-match placeholder="Select a layer to preview">{{$select.selected.Title}} {{$selec.selected.Abstract}}</ui-select-match>
          <ui-select-choices repeat="layer in source.wmsGetCapabilities.Capability.Layer.Layer | orderBy: 'Title' | filter: $select.search">
            <div ng-bind-html="layer.Title | highlight: $select.search"></div>
            <small class="muted">
              <span ng-bind-html="layer.Abstract | highlight: $select.search"></span>
            </small>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>
  <div class="row" ng-show="source.url">
    <div class="col-md-12">
      <span class="page-sub-entity-label">Original Source URL: <span class="page-sub-entity-title">{{source.url}}</span>
    </div>
  </div>
  <div class="row" ng-show="!source.vector">
    <div class="col-md-12">
      <span class="page-sub-entity-label">Tile URL: <span class="page-sub-entity-title">/api/sources/{{source.humanReadableId}}/{z}/{x}/{y}.png<span ng-show="source.previewLayer">?layer={{source.previewLayer.Name}}</span>
    </div>
  </div>
  <div class="row" ng-if="source.status.complete">
    <div class="col-md-12">
      <span class="page-sub-entity-label">Source <span ng-show="!source.vector">tiles are</span><span ng-show="source.vector">data is</span> shown below. (light grey map is only for geographic reference)</span>
      <div leaflet-source source="source" options="mapOptions"></div>
    </div>
  </div>
  <hr>

  <div ng-if="source.vector && source.status.complete">

    <div class="row bottom-gap" ng-show="source.style">
      <div class="col-md-12">
        <button class="btn btn-success pull-right" ng-click="saveStyle()">Save Changes To Source</button>
      </div>
    </div>

    <div class="row top-gap bottom-gap">
      <div class="col-md-12">
        <span class="page-sub-entity-label">Title and Description Properties</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <ui-select ng-model="source.style.title" theme="bootstrap">
          <ui-select-match placeholder="Title property" allow-clear>Title property: {{$select.selected.key}}</ui-select-match>
          <ui-select-choices repeat="property.key as property in source.properties | filter: $select.search">
            <div ng-bind-html="property.key | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="col-md-6">
        <ui-select ng-model="source.style.description" theme="bootstrap">
          <ui-select-match placeholder="Description property" allow-clear>Description property: {{$select.selected.key}}</ui-select-match>
          <ui-select-choices repeat="property.key as property in source.properties | filter: $select.search">
            <div ng-bind-html="property.key | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>

    <hr>
    <div class="row top-gap bottom-gap">
      <div class="col-md-12">
        <span class="page-sub-entity-label">Add New Style</span>
      </div>
    </div>

    <div class="row style-row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <ui-select ng-model="newRule.property" theme="bootstrap">
              <ui-select-match placeholder="Select a property to style">When the '{{$select.selected.key}}' property equals </ui-select-match>
              <ui-select-choices repeat="property in source.properties | filter: $select.search">
                <div ng-bind-html="property.key | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="col-md-6">
            <ui-select ng-model="newRule.property.value" theme="bootstrap" reset-search-input="true">
              <ui-select-match placeholder="Value">{{$select.selected}}</ui-select-match>
              <ui-select-choices repeat="value in newRule.property.values | filter: $select.search">
                <div ng-bind-html="value | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="row top-gap" ng-show="newRule.property.value">
          <div class="col-md-2">
            <div class="form-group">
              <label>Fill Color</label>
              <div class="input-group" color-picker="newRule.style.fill">
                <input type="text" value="newRule.style.fill" class="form-control" />
                <span class="input-group-addon"><i></i></span>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>Fill Opacity</label>
              <input class="form-control" ng-model="newRule.style['fill-opacity']">
              <p class="help-block">0.0 - 1.0</p>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>Line Color</label>
              <div class="input-group" color-picker="newRule.style.stroke">
                <input type="text" value="newRule.style.stroke" class="form-control" />
                <span class="input-group-addon"><i></i></span>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>Line Opacity</label>
              <input class="form-control" ng-model="newRule.style['stroke-opacity']">
              <p class="help-block">0.0 - 1.0</p>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>Line Width</label>
              <input class="form-control" ng-model="newRule.style['stroke-width']">
              <p class="help-block">Pixel Width</p>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>&nbsp;</label>
              <button class="form-control btn btn-primary pull-right" ng-click="applyStyle()">Add These Styles</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row bottom-gap" ng-show="source.style">
      <div class="col-md-12">
        <span class="page-sub-entity-label">Current Source Styles</span>
      </div>
    </div>
    <div ng-repeat="style in source.style.styles | orderBy: 'priority'">
      <div style-row="style" options="{first: $first, last: $last, mutable: true}"></div>
    </div>
    <div class="top-gap">
      <div style-row="source.style.defaultStyle"></div>
    </div>
    <div class="row bottom-gap-l">
    </div>
  </div>
</div>
