<div>
  <div class="row top-gap hidden-xs">
    <div class="col-md-12 leaflet-scrollpoint">
      <div leaflet-map map="map" caches="caches" options="options"></div>
    </div>
  </div>
  <div class="container" ng-init="cacheFilter = ''">
    <div class="maps-scrollpoint">
      <div class="row" ng-hide="options.hideFilter">
        <div class="col-md-12 top-gap">
          <div class="form-group">
            <label>Filter Caches {{cacheFilter}}</label>
            <input class="form-control" ng-model="cacheFilter" placeholder="Please enter at least two letters to filter maps">
          </div>
        </div>
      </div>
      <div class="cache-row bottom-gap-l" ng-class="{'cache-click': showingCache.id == cache.id}" ng-repeat="cache in caches | filter : {name: cacheFilter} track by cache.id " ng-mouseenter="mouseOver(cache)" ng-mouseleave="mouseOut(cache)" ng-click="mouseClick(cache)">
        <div class="row">
          <div class="row-height">
            <div class="col-md-1 col-height col-middle">
              <a href="/#/cache/{{cache.id}}"><img ng-src="/api/caches/{{cache.id}}/overviewTile?access_token={{token}}" width="100%"/></a>
            </div>
            <div class="col-md-11 col-height">
              <div class="row">
                <div class="col-md-12">
                  <div class="cache-name"><a href="/#/cache/{{cache.id}}">{{cache.name}}</a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-12">
                      <span class="small">GeoPackage:</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-md-2 cache-type-details">
                        <a ng-show="cache.formats['geopackage'] && cache.formats['geopackage'].complete" class="cache-type-download-box" target="_blank" ng-href="/api/caches/{{cache.id}}/geopackage?minZoom={{cache.minZoom}}&maxZoom={{cache.maxZoom}}&access_token={{token}}">
                          <div class="cache-type"><i class="fa fa-download"></i> {{'geopackage' | cacheFormat}}</div>
                          <div class="cache-size">{{cache.formats['geopackage'].size | fileSize}}</div>
                        </a>
                        <div ng-show="cache.formats['geopackage'] && !cache.formats['geopackage'].complete">
                          <div class="cache-type"><i class="fa fa-spinner fa-pulse"></i> {{'geopackage' | cacheFormat}}</div>
                          <div class="cache-size">Generating...</div>
                        </div>
                        <a ng-hide="cache.formats['geopackage']" class="cache-type-download-box" ng-click="generateFormat(cache, 'geopackage')" ng-href="">
                          <div class="cache-type">{{'geopackage' | cacheFormat}}</div>
                          <div class="cache-size">Click to Generate</div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div ng-show="cache.formats['geopackage'].complete">
                    <div class="row" ng-show="cache.hasVectorSources">
                      <div class="col-md-12">
                        <span class="small">Vectors:</span>
                      </div>
                    </div>
                    <div class="row" ng-show="cache.formats['geopackage'].complete && cache.hasVectorSources">
                      <div class="col-md-12">
                        <div ng-if="cache.source" ng-repeat="cacheType in cache.source.cacheTypes | filter: {vector: true}">
                          <div ng-if="cache.formats[cacheType.type] || !cacheType.secondary || (cacheType.secondary && cacheType.depends && cache.formats[cacheType.depends])">
                            <div class="col-md-2 cache-type-details">
                              <a ng-show="cache.formats[cacheType.type] && cache.formats[cacheType.type].complete" class="cache-type-download-box" target="_blank" ng-href="/api/caches/{{cache.id}}/{{cacheType.type}}?minZoom={{cache.minZoom}}&maxZoom={{cache.maxZoom}}&access_token={{token}}">
                                <div class="cache-type"><i class="fa fa-download"></i> {{cacheType.type | cacheFormat}}</div>
                                <div class="cache-size">{{cache.formats[cacheType.type].size | fileSize}}</div>
                              </a>
                              <div ng-show="cache.formats[cacheType.type] && !cache.formats[cacheType.type].complete">
                                <div class="cache-type"><i class="fa fa-spinner fa-pulse"></i> {{cacheType.type | cacheFormat}}</div>
                                <div class="cache-size">Generating...</div>
                              </div>
                              <a ng-hide="cache.formats[cacheType.type]" class="cache-type-download-box" ng-click="generateFormat(cache, cacheType.type)" ng-href="">
                                <div class="cache-type">{{cacheType.type | cacheFormat}}</div>
                                <div class="cache-size">Click to Generate</div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <span class="small">Tiles:<span> Zoom Levels {{cache.minZoom}} - {{cache.maxZoom}}</span></span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div ng-if="cache.source" ng-repeat="cacheType in cache.source.cacheTypes | filter: {vector: '!true'}">
                          <div ng-if="cache.formats[cacheType.type] || !cacheType.secondary || (cacheType.secondary && cacheType.depends && cache.formats[cacheType.depends])">
                            <div class="col-md-2 cache-type-details">
                              <a ng-show="cache.formats[cacheType.type] && cache.formats[cacheType.type].complete" class="cache-type-download-box" target="_blank" ng-href="/api/caches/{{cache.id}}/{{cacheType.type}}?minZoom={{cache.minZoom}}&maxZoom={{cache.maxZoom}}&access_token={{token}}">
                                <div class="cache-type"><i class="fa fa-download"></i> {{cacheType.type | cacheFormat}}</div>
                                <div class="cache-size">{{cache.formats[cacheType.type].size | fileSize}}</div>
                              </a>
                              <div ng-show="cache.formats[cacheType.type] && !cache.formats[cacheType.type].complete">
                                <div class="cache-type"><i class="fa fa-spinner fa-pulse"></i> {{cacheType.type | cacheFormat}}</div>
                                <div class="cache-size">{{cache.formats[cacheType.type].percentComplete | number: 2}}% complete</div>
                              </div>
                              <a ng-hide="cache.formats[cacheType.type]" class="cache-type-download-box" ng-click="generateFormat(cache, cacheType.type)" ng-href="">
                                <div class="cache-type">{{cacheType.type | cacheFormat}}</div>
                                <div class="cache-size">Click to Generate</div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div ng-if="!cache.source" ng-repeat="(formatType, format) in cache.formats">
                          <div class="col-md-2 cache-type-details">
                            <a ng-show="cache.formats[formatType] && !cache.formats[formatType].generating" class="cache-type-download-box" target="_blank" ng-href="/api/caches/{{cache.id}}/{{formatType}}?minZoom={{cache.minZoom}}&maxZoom={{cache.maxZoom}}&access_token={{token}}">
                              <div class="cache-type"><i class="fa fa-download"></i> {{formatType | cacheFormat}}</div>
                              <div class="cache-size">{{cache.formats[formatType].size | fileSize}}</div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row top-gap-s" ng-show="cache.source">
                <div class="col-md-12">
                  <span class="x-small">Created From: <a ng-href="/#/map/{{cache.source.id}}">{{cache.source.name}}</a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
