<div>
  <div class="row top-gap hidden-xs">
    <div class="col-md-12 leaflet-scrollpoint">
      <div leaflet-map map="map" caches="caches" options="options"></div>
    </div>
  </div>
  <div class="container" ng-init="cacheFilter = ''">
    <div class="maps-scrollpoint">
      <div class="row" ng-hide="options.hideFilter">
        <div class="col-md-12 top-gap">
          <div class="form-group">
            <label>Filter Caches {{cacheFilter}}</label>
            <input class="form-control" ng-model="cacheFilter" placeholder="Please enter at least two letters to filter maps">
          </div>
        </div>
      </div>
      <div class="cache-row bottom-gap-l" ng-class="{'cache-click': showingCache.id == cache.id}" ng-repeat="cache in caches | filter : {name: cacheFilter} track by cache.id " ng-mouseenter="mouseOver(cache)" ng-mouseleave="mouseOut(cache)" ng-click="mouseClick(cache)">
        <div class="row">
          <div class="row-height">
            <div class="col-md-1 col-height col-middle">
              <a href="/#/cache/{{cache.id}}"><img ng-src="/api/caches/{{cache.id}}/overviewTile?access_token={{token}}" width="100%"/></a>
            </div>
            <div class="col-md-11 col-height">
              <div class="row">
                <div class="col-md-12">
                  <div class="cache-name"><a href="/#/cache/{{cache.id}}">{{cache.name}}</a>
                  </div>
                </div>
              </div>
              <div cache-formats="cache"></div>
              <div class="row top-gap-s" ng-show="cache.source">
                <div class="col-md-12">
                  <span class="x-small">Created From: <a ng-href="/#/map/{{cache.source.id}}">{{cache.source.name}}</a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
