<div class="container top-gap-l">
  <div class="row">
    <div class="col-md-12">
      <span class="page-entity-label">Cache: <span class="page-entity-title">{{cache.name}}</span>
    </div>
  </div>
  <div class="row"><!-- ng-show="!cache.status.complete">-->
    <div class="col-md-12">
      <p class="lead">Thank you for submitting your {{cache.name}} cache to be created.</p>
      Feel free to return to the <a href="" ng-click="returnToList()">cache list</a> where you can also view the progress.  Don't worry, your cache will continue to be generated.
      <!-- <div class="checkbox">
        <label>
          <input type="checkbox"> Please notify me via email ({{user.email}}) when my cache is done generating.
        </label>
      </div> -->
      <div class="row">
        <div class="col-md-12">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{cacheProgress(cache)}}%">
              <span>{{cacheProgress(cache)}}% Complete</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row cache-types-row">
        <div class="col-md-12" ng-init="zoomRows = sortedZooms(cache)">
          <div class="row" ng-repeat="zoomRow in zoomRows">
            <div class="col-md-4" ng-repeat="zoom in zoomRow">
              Zoom Level {{zoom.zoom}} {{zoomSize(zoom.status)}}
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{zoomProgress(zoom.status)}}%">
                  <span>{{zoomProgress(zoom.status)}}% Complete</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <span class="page-sub-entity-label">Tile URL: <span class="page-sub-entity-title">/api/caches/{{cache.humanReadableId}}/{z}/{x}/{y}.png</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <span class="page-sub-entity-label">Source tiles are shown below. (light grey map is only for geographic reference)</span>
      <div leaflet-cache cache="cache" options="mapOptions"></div>
    </div>
  </div>
</div>

{{cache}}
