<div class="container top-gap-l">
  <div class="row">
    <div class="col-md-12">
      <span class="page-entity-label">Cache: <span class="page-entity-title">{{cache.name}}</span>
    </div>
  </div>

  <div cache-formats="cache"></div>

  <div class="row top-gap hidden-xs">
    <div class="col-md-12">
      <span class="page-sub-entity-label">Map tiles are shown below. (light grey map is only for geographic reference)</span>
      <div leaflet-cache cache="cache" options="mapOptions"></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div ng-show="rasterCacheExists">
        <div><span class="page-sub-entity-label">Zoom Levels: <span class="page-sub-entity-title">{{cache.minZoom}} - {{cache.maxZoom}}</span></div>
        <div><span class="page-sub-entity-label">Total Tiles: <span class="page-sub-entity-title">{{rasterTiles}}</span></div>
      </div>
        <div><span class="page-sub-entity-label">Bounding Box: <span class="page-sub-entity-title">West: {{cache.geometry | turf : 'extent' : 'w' | number : 6}} South: {{cache.geometry | turf : 'extent' : 's' | number : 6}} East: {{cache.geometry | turf : 'extent' : 'e' | number : 6}} North: {{cache.geometry | turf : 'extent' : 'n' | number : 6}}</span></div>
        <div><span class="page-sub-entity-label">Map: <span class="page-sub-entity-title"><a ng-href="/#/map/{{cache.source.id}}">{{cache.source.name}}</a></span></div>
    </div>
  </div>
</div>
<div class="container top-gap-l" ng-show="formatGenerating">
  <div class="row">
    <div class="col-md-12">
      <span class="page-entity-label">Cache Format Status</span>
    </div>
  </div>
  <div ng-repeat="(formatName, cacheFormat) in cache.formats" ng-hide="cacheFormat.complete">
    <div class="row">
      <div class="col-md-12">
        <span class="page-sub-entity-label">{{formatName | cacheFormat}}</span> <a class="small" ng-click="expanded[formatName] = !expanded[formatName]" href=""><span ng-show="expanded[formatName]">hide</span><span ng-show="!expanded[formatName]">show</span> detailed status</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: {{cacheFormat.percentComplete}}%">
                <span>{{cacheFormat.percentComplete | number: 2}}% Complete</span>
              </div>
            </div>
          </div>
        </div>
        <div ng-show="expanded[formatName]">
          <div class="row" ng-show="!cacheFormat.complete">
            <div class="col-md-12">
              <div class="form-group">
                <span class="page-sub-entity-label">Map is currently estimated to be <span class="page-sub-entity-title">{{(cacheFormat.size/cacheFormat.generatedTiles) * cacheFormat.totalTiles | fileSize}} with {{cacheFormat.totalTiles}} tiles</span></span>
              </div>
            </div>
          </div>
          <div class="row cache-types-row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4" ng-repeat="zoom in cacheFormat.zoomLevelStatus">
                  Zoom Level {{$index}} Size: {{zoom.size | fileSize}} Tiles: {{zoom.generatedTiles}} of {{zoom.totalTiles}}
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{(zoom.percentComplete)}}%">
                      <span>{{(zoom.percentComplete) | number: 2}}% Complete</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- {{cacheFormat | json:4}} -->
      </div>
    </div>
  </div>
</div>
