<div class="container top-gap-l">
  <div class="row">
    <div class="col-md-12">
      <span class="page-entity-label">Cache: <span class="page-entity-title">{{cache.name}}</span>
    </div>
  </div>
  <div class="row" ng-show="!cache.status.complete">
    <div class="col-md-12">
      <p class="lead">Thank you for submitting your {{cache.name}} cache to be created.</p>
      Feel free to return to the <a href="" ng-click="returnToList()">cache list</a> where you can also view the progress.  Don't worry, your cache will continue to be generated.
      <!-- <div class="checkbox">
        <label>
          <input type="checkbox"> Please notify me via email ({{user.email}}) when my cache is done generating.
        </label>
      </div> -->
      <div class="row">
        <div class="col-md-12">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{cacheProgress(cache)}}%">
              <span>{{cacheProgress(cache) | number: 2}}% Complete</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row" ng-show="!cache.status.complete">
        <div class="col-md-12">
          <div class="form-group">
            <span class="page-sub-entity-title">Cache is currently estimated to be <span class="page-sub-entity-label">{{(cache.totalTileSize/cache.status.generatedTiles) * cache.status.totalTiles | fileSize}} with {{cache.status.totalTiles}} tiles</span></span>
          </div>
        </div>
      </div>
      <div class="row cache-types-row">
        <div class="col-md-12">
          <div class="row" ng-repeat="zoomRow in zoomRows">
            <div class="col-md-4" ng-repeat="zoom in zoomRow">
              Zoom Level {{zoom.zoom}} Size: {{zoom.status.size | fileSize}} Tiles: {{zoom.status.generatedTiles}}
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{zoomProgress(zoom.status)}}%">
                  <span>{{zoomProgress(zoom.status) | number: 2}}% Complete</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div><span class="page-sub-entity-label">Tile URL: <span class="page-sub-entity-title">/api/caches/{{cache.humanReadableId}}/{z}/{x}/{y}.png</span><div>
        <div><span class="page-sub-entity-label">Zoom Levels: <span class="page-sub-entity-title">{{cache.minZoom}} - {{cache.maxZoom}}</span></div>
        <div><span class="page-sub-entity-label">Total Tiles: <span class="page-sub-entity-title">{{cache.status.totalTiles}}</span></div>
        <div><span class="page-sub-entity-label">Bounding Box: <span class="page-sub-entity-title">{{cacheBoundingBox(cache)}}</span></div>
        <div><span class="page-sub-entity-label">Source: <span class="page-sub-entity-title"><a ng-href="/#/source/{{cache.source.id}}">{{cache.source.name}}</a></span></div>
    </div>
  </div>
  <div class="row top-gap" ng-show="cache.status.complete">
    <div class="col-md-12">
      <a target="_blank" ng-href="/api/caches/{{cache.id}}.zip?minZoom=0&maxZoom=18&format=xyz&access_token={{token}}">
        <div class="col-md-2 cache-type-details">
          <div class="cache-type"><i class="fa fa-download"></i> XYZ</div>
          <div class="cache-size">{{cache.totalTileSize | fileSize}}</div>
        </div>
      </a>
      <a class="cache-type-download-box" target="_blank" ng-href="/api/caches/{{cache.id}}.zip?minZoom=0&maxZoom=18&format=tms&access_token={{token}}">
        <div class="col-md-2 cache-type-details">
          <div class="cache-type"><i class="fa fa-download"></i> TMS</div>
          <div class="cache-size">{{cache.totalTileSize | fileSize}}</div>
        </div>
      </a>
        <div class="col-md-2 cache-type-details">
          <a class="cache-type-download-box" target="_blank" ng-href="/api/caches/{{cache.id}}.zip?minZoom=0&maxZoom=18&format=geopackage&access_token={{token}}">
            <div ng-show="cacheFormatExists(cache, 'geopackage')">
              <div class="cache-type"><i class="fa fa-download"></i> GeoPackage</div>
              <div class="cache-size">{{cache.formats['geopackage'].size | fileSize}}</div>
            </div>
          </a>
          <div ng-show="cacheFormatGenerating(cache, 'geopackage')">
            <div class="cache-type"><i class="fa fa-spinner fa-pulse"></i> GeoPackage</div>
            <div class="cache-size">Generating...</div>
          </div>
          <a class="cache-type-download-box" ng-click="generateFormat(cache, 'geopackage')" ng-href="">
            <div ng-hide="cacheFormatExists(cache, 'geopackage') || cacheFormatGenerating(cache, 'geopackage')">
              <div class="cache-type">GeoPackage</div>
              <div class="cache-size">Click to Generate</div>
            </div>
          </a>
        </div>
      </a>
        <div class="col-md-2 cache-type-details">
          <a class="cache-type-download-box" target="_blank" ng-href="/api/caches/{{cache.id}}.zip?minZoom=0&maxZoom=18&format=mbtiles&access_token={{token}}">
            <div ng-show="cacheFormatExists(cache, 'mbtiles')">
              <div class="cache-type"><i class="fa fa-download"></i> MBTiles</div>
              <div class="cache-size">{{cache.formats['mbtiles'].size | fileSize}}</div>
            </div>
          </a>
          <div ng-show="cacheFormatGenerating(cache, 'mbtiles')">
            <div class="cache-type"><i class="fa fa-spinner fa-pulse"></i> MBTiles</div>
            <div class="cache-size">Generating...</div>
          </div>
          <a class="cache-type-download-box" ng-click="generateFormat(cache, 'mbtiles') || cacheFormatGenerating(cache, 'mbtiles')" ng-href="">
            <div ng-hide="cacheFormatExists(cache, 'mbtiles') || cacheFormatGenerating(cache, 'mbtiles')">
              <div class="cache-type">MBTiles</div>
              <div class="cache-size">Click to Generate</div>
            </div>
          </a>
        </div>
      </a>
    </div>
  </div>
  <div class="row top-gap">
    <div class="col-md-12">
      <span ng-show="cache.status.complete" class="page-sub-entity-label">Cache tiles are shown below. (light grey map is only for geographic reference)</span>
      <div leaflet-cache cache="cache" options="mapOptions"></div>
    </div>
  </div>
</div>
