<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Name Your Cache</label>
        <input class="form-control" ng-model="cache.name" placeholder="e.g. Denver, CO">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Source URL</label>
        <input class="form-control" ng-model="cache.url" placeholder="e.g. http://osm.geointapps.org">
      </div>
    </div>
  </div>
  <div class="hidden-xs">
    <div class="row">
      <div class="col-sm-2 col-sm-offset-5">
        <div class="form-group">
          <label>Northern Boundary</label>
          <input class="form-control" ng-model="north" placeholder="e.g. 39.9">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2" style="height: 500px">
        <div class="form-group vertical-center">
          <label>Western Boundary</label>
          <input class="form-control" ng-model="west" placeholder="e.g. -105.2">
        </div>
      </div>
      <div class="col-sm-8">
        <div leaflet-create options="cache"></div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="cache.tms"> Do the map tiles not line up? Click here
          </label>
        </div>
      </div>
      <div class="col-sm-2" style="height: 500px">
        <div class="form-group vertical-center">
          <label>Eastern Boundary</label>
          <input class="form-control" ng-model="east" placeholder="e.g. -104.8">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-5">
        <div class="form-group">
          <label>Southern Boundary</label>
          <input class="form-control" ng-model="south" placeholder="e.g. 39.5">
        </div>
      </div>
    </div>
  </div>
  <div class="visible-xs-block">
    <div class="row">
      <div class="col-xs-12">
        <div leaflet-create options="cache"></div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="cache.tms"> Do the map tiles not line up? Click here
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label>Northern Boundary</label>
          <input class="form-control" ng-model="north" placeholder="e.g. 39.9">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label>Eastern Boundary</label>
          <input class="form-control" ng-model="east" placeholder="e.g. -104.8">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label>Southern Boundary</label>
          <input class="form-control" ng-model="south" placeholder="e.g. 39.5">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label>Western Boundary</label>
          <input class="form-control" ng-model="west" placeholder="e.g. -105.2">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary pull-right">Create Cache</button>
    </div>
  </div>
</div>
