<div class="mapcache container-fluid">
  <div class="container">
    <div class="row top-gap bottom-gap-s">
      <div class="col-md-12">
        <div class="mapcache-header-description">Use mapcache to save maps for offline use.</div>
      </div>
    </div>
    <div class="row bottom-gap text-center">
      <a class="btn btn-primary" href="/#/mapcache">View Caches</a>
      <a class="btn btn-primary left-margin" href="/#/create">Create A Cache From An Existing Map</a>
      <a class="btn btn-primary left-margin" href="/#/map">Create A Map</a>
    </div>
    <div class="row">
      <div ng-repeat="map in maps | filter: {status : {complete:true}}">
        <div class="col-md-12">
          <div class="map-card short-map" ng-click="current='sources'">
            <div class="row top-gap bottom-gap-s">
              <div class="col-md-12">
                <div class="left-margin right-margin top-gap bottom-gap-s">
              <a class="btn btn-s" style="color: #FFF;" ng-href="/#/map/{{map.id}}"><span class="page-mid-entity-label">{{map.name}}</span></a>
              <div class="pull-right">
                <a class="btn btn-s" style="color: #FFF;" ng-href="/#/map/{{map.id}}">View Caches</a>
                <a class="btn btn-s" style="color: #FFF;" ng-href="/#/create/{{map.id}}">Create Cache</a>
              </div>
            </div>
              </div>
            </div>
            <div class="row bottom-gap">
              <div class="col-md-12">
                <div leaflet-map map="map" options="mapOptions"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
