<div class="container top-gap-l">

  <div class="row">
    <div class="col-md-12">
      <p class="lead">Sources provide the data mapcache uses to generate maps.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Name Your Source</label>
        <input class="form-control" ng-model="source.name" placeholder="e.g. Open Street Map">
      </div>
    </div>
  </div>
  <div class="row top-gap-s">
    <div class="col-md-12">
      <div>
        <label> What kind of source? </label>
      </div>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" ng-model="sourceType" value="tile"> Tile Server
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" ng-model="sourceType" value="geotiff"> GeoTIFF
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" ng-model="sourceType" value="mbtiles"> MBTiles
      </label>
    </div>
  </div>
  <div ng-switch="sourceType">
    <div ng-switch-when="tile" ng-init="source.format = 'xyz'">
      <div class="row top-gap">
        <div class="col-md-12">
          <p class="lead">Specify a URL to a server with tiles in either xyz or tms format whiich mapcache will use to cache tiles.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <input class="form-control" ng-model="source.url" placeholder="e.g. http://osm.geointapps.org/osm">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div>Source preview</div>
          <div leaflet-source source="source"></div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="source.format" ng-true-value="'tms'" ng-false-value="'xyz'"> Do the map tiles not line up? Click here
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-primary pull-right" ng-click="createSource()">Create Tile Server Source</button>
        </div>
      </div>
    </div>
    <div ng-switch-when="geotiff" ng-init="source.format = 'geotiff'">
      <div class="row top-gap">
        <div class="col-md-12">
          <p class="lead">Upload a GeoTIFF file which mapcache will use to create a cache in xyz format.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form
            type="detail"
            enctype="multipart/form-data"
            file-upload url="/nowhere"
            allow-upload="source.go"
            preview="false"
            upload-file-form-name="'sourceFile'">
          </form>
        </div>
      </div>
      <div class="row top-gap">
        <div class="col-md-6">
          <div class="progress" ng-if="progress">
            <div class="progress-bar" role="progressbar" style="width: {{progress}}%">
              <span>{{progress | number: 2}}% Complete</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <button class="btn btn-primary pull-right" ng-click="createSource()">Create GeoTIFF Source</button>
        </div>
      </div>
    </div>
    <div ng-switch-when="mbtiles" ng-init="source.format = 'mbtiles'">
      <div class="row top-gap">
        <div class="col-md-12">
          <p class="lead">Upload a MBTiles file which mapcache will use to create a cache in xyz format.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form
            type="detail"
            enctype="multipart/form-data"
            file-upload url="/nowhere"
            allow-upload="source.go"
            preview="false"
            upload-file-form-name="'sourceFile'">
          </form>
        </div>
      </div>
      <div class="row top-gap">
        <div class="col-md-6">
          <div class="progress" ng-if="progress">
            <div class="progress-bar" role="progressbar" style="width: {{progress}}%">
              <span>{{progress | number: 2}}% Complete</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <button class="btn btn-primary pull-right" ng-click="createSource()">Create MBTiles Source</button>
        </div>
      </div>
    </div>
  </div>
</div>
